/*-------CALCULATOR------------------------------------------*/
.calculator {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 650px;
  width: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 30px 5px #000;
  padding: 30px;
  overflow: hidden;
  transition: all .5s;
}

.calculator__header {
  position: relative;
  flex: 0 0 45%;
}

.header__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger__checkbox {
  display: none;
}

.hamburger__label {
  position: relative;
  width: 40px;
  height: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 20;
}

.hamburger__line{
  width: 40px;
  height: 4px;
  border-radius: 5px;
  background: #797979;
  pointer-events: none;
  transition: transform .3s ease-in-out ,opacity .3s ease-in-out, background .6s ease-in-out;
}

.hamburger__label.active > .line1 {
  transform: translateY(9px) rotateZ(45deg);
}

.hamburger__label.active > .line2{
  transform: translateX(100%);
  opacity: 0;
}

.hamburger__label.active > .line3 {
  transform: translateY(-9px) rotateZ(-45deg);
}

.header__list {
  position: absolute;
  background: #000;
  width: 80%;
  height: 250%;
  right: -90%;
  top: -15%;
  border-radius: 0 20px 20px 0;
  padding: 70px 20px;
  color: #fff;
  z-index: 10;
  transition: right .6s ease-in-out, background .6s;
}

.header-list__button {
  position: relative;
  padding: 20px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  margin-top: 30px;
  height: 30px;
  cursor: pointer;
  transition: color .6s;
  user-select: none;
}

.header-list__button::after,
.header-list__button::before{
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  transition: width .4s, height .4s, border-color .6s;
}

.header-list__button::before {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  left: -1px;
  top: -1px;
}

.header-list__button::after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  right: -1px;
  bottom: -1px;
}

.header-list__button:hover::after,
.header-list__button:hover::before {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
}


.header-list__button.switch-theme {
  color: #000;
}

.header-list__button.switch-theme::after,
.header-list__button.switch-theme::before{
  border-color: #000;
}

.header__list.active {
  right: -10%;
}

.header__list.switch-theme {
  background: #fff;
}

.header__expression::placeholder {
  color: #000;
  transition: all .6s;
}

.header__expression {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  border-bottom: 1px solid #282828FF;
  background: transparent;
  color: #000;
  caret-color: transparent;
  text-align: right;
  font-size: 50px;
  font-weight: 500;
  z-index: 2;
  transition: padding .8s, color .6s;
}

.header__label {
  font-size: 50px;
  position: absolute;
  bottom: 0;
  color: transparent;
  right: 0;
  transition: all .6s;
}

.header__label.active {
  transition: all .6s;
  color: #808080FF;
  bottom: 60px;
  font-size: 45px;
}

.calculator__main {
  margin: 10px 0 0 0;
}

.main__simple-calculator {
  position: relative;
  top: 330px;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  transition: all .8s;
}

.main__simple-calculator.active {
  top: 0;
}

.simple-calculator__button {
  color: #000;
  width: 65px;
  height: 65px;
  flex: 0 1 25%;
  font-size: 25px;
  position: relative;
  background: inherit;
  transition: all .4s;
  font-weight: 500;
}

.engineering-calculator__button {
  color: #000;
  width: 55px;
  height: 55px;
  flex: 0 1 20%;
  font-size: 20px;
  position: relative;
  background: inherit;
  transition: all .4s;
  font-weight: 500;
}

.main__engineering-calculator {
  position: relative;
  top: 0;
  height: 330px;
  display: flex;
  flex-wrap: wrap;
  transition: all .8s;
}

.main__engineering-calculator.active {
  top: -330px;
}

.pow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  user-select: none;
}

.sign,
.sym,
.reset-btn,
.backspace-btn,
.sqrt {
  color: #2e33b4;
}

.btn-null {
  flex-grow: 1;
}

.btn-equals {
  background: #2e33b4;
  width: 65px;
  height: 65px;
  border-radius: 30%;
  color: #fff;
}

.engineering-calculator__button.btn-equals {
  width: 50px;
  height: 50px;
}

.btn-equals:active {
  transform: scale(0.9);
}

.backspace {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.simple-calculator__button:not(.btn-equals):active,
.engineering-calculator__button:not(.btn-equals):active {
  background: #969696;
  border-radius: 20px;
}

/*-----SWITCH THEME----------------------------*/
.checkbox__switch {
  display: none;
}

.moon,
.sun {
  position: relative;
  color: #2e33b4;
  pointer-events: none;
  transform: scale(1.6);
  transition: all .6s;
}

.sun {
  left: 15px;
}

.moon {
  right: 15px;
}

.checkbox__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100px;
  border: 3px solid #2e33b4;
  border-radius: 50px;
  cursor: pointer;
  transition: all .4s;
  background: #fff;
}

.checkbox__label::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  left: 5px;
  background: #2e33b4;
  transition: all .5s;
}

.checkbox__switch:checked ~ .checkbox__label::before {
  transform: translateX(47px);
  background: #ff6c00;
}

.checkbox__switch:checked ~ .checkbox__label {
  background: #000;
  border-color: #ff6c00;
}

.checkbox__switch:checked ~ .checkbox__label > .sun,
.checkbox__switch:checked ~ .checkbox__label > .moon{
  color: #ff6c00;
}

.calculator::before {
  content: '';
  position: absolute;
  left: 16%;
  top: 6%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  transition: all .6s;
  z-index: 0;
}

.calculator.switch-theme {
  background: #000;
}

.calculator.switch-theme::before {
  background: #000;
  width: 1600px;
  height: 1600px;
  top: -100%;
  left: -100%;
}

.simple-calculator__button.switch-theme {
  color: #fff;
}

.engineering-calculator__button.switch-theme {
  color: #fff;
}

.calculator.switch-theme .sqrt,
.sign.switch-theme,
.sym.switch-theme,
.backspace-btn.switch-theme,
.reset-btn.switch-theme {
  color: #ff6c00;
}

.header__expression.switch-theme {
  color: #fff;
}

.header__expression.switch-theme::placeholder {
  color: #fff;
}

.header__label.switch-theme {
  color: #000;
  bottom: 10px;
  font-size: 50px;
}

.header__label.switch-theme.active {
  transition: all .6s;
  color: #989898;
  bottom: 60px;
  font-size: 45px;
}

.btn-equals.switch-theme {
  background: #ff6c00;
}

body.switch-theme {
  background: #2c3600;
  transition: background .6s;
}